---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
---

<Layout title="About the project.">
  <Container>
    <div class="mt-20">
      <h2>About the Project</h2>
      <p>
        This project aims to help people learn and build websites using popular
        JS frameworks like <a href="https://astro.build/" target="_blank"
          >Astro.build</a
        >
        <a href="https://nuxt.com/" target="_blank">NuxtJS</a>, and <a
          href="https://nextjs.org/"
          target="_blank">NextJS</a
        >. The project uses the same website design for all frameworks, allowing
        you to easily compare and contrast the differences between them.
      </p>
      <p>
        By using this project, you will be able to learn and compare the
        different approaches and features of these popular frameworks. The
        project is also open-source and available on Github, so you can
        contribute to it and share your knowledge with others.
      </p>
      <p>
        I hope you find this project helpful and informative, and we look
        forward to seeing what you create with it!
      </p>

      <p>
        The project includes a set of common parts that are used across all
        websites built with the frameworks. <br /><b>These parts include:</b>
      </p>
      <h3>Design</h3>
      <p>
        All websites use the same design, which is clean, modern, and easy to
        navigate.
      </p>
      <h3>Content & Pages</h3>
      <p>The project includes the following pages:</p>
      <ul>
        <li>Home page</li>
        <li>About page</li>
        <li>Services page</li>
        <li>Price page</li>
        <li>Contact page</li>
        <li>Blog archive page</li>
        <li>Blog single page</li>
        <li>Basic Login and Sign Up</li>
        <li>Design elements page</li>
      </ul>
      <h3>Components</h3>
      <p>
        The project includes a set of common components that are used across all
        websites built with the frameworks. These components include:
      </p>
      <ul>
        <li>Layout for global and Blog pages</li>
        <li>Header and navbar</li>
        <li>Footer</li>
        <li>Hero section</li>
        <li>Card components</li>
        <li>Buttons and links components</li>
        <li>Slider</li>
      </ul>
      <h3>Integrations</h3>
      <p>The project integrates with several tools and services:</p>
      <ul>
        <li>Tailwind CSS</li>
        <li>MD or MDX for creating content for the blog or articles</li>
        <li>Google Fonts</li>
        <li>Image processing</li>
        <li>Icons by Iconify</li>
        <li>SEO optimization</li>
        <li>Sitemap</li>
      </ul>

      <div class="mt-10 bg-gray-200 p-5">
        <h4>Button sample</h4>
        <p>Button sample from button.asto component</p>
        <!-- <Button
          size="lg"
          style="primary"
          size="lg"
          class="mt-10 flex items-center justify-between"
        >
          <Icon pack="charm" name="at-sign" width="15px" /> Some text
        </Button>

        <Button
          size="lg"
          style="outline"
          size="md"
          class="mt-10 flex items-center justify-between"
        >
          <Icon pack="charm" name="at-sign" width="15px" /> Some text
        </Button> -->
      </div>
    </div>
  </Container>
</Layout>
<style></style>
