<div>
  <h3>Our services</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eius
    soluta ipsum porro unde enim, officia fuga modi itaque natus, hic
    architecto, consequuntur sequi nobis libero laborum animi repellat debitis!
  </p>
</div>
<div class="flex flex-row gap-3">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Card title!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Card title!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Card title!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Card title!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
  </div>
</div>
