---
import Container from "../components/container.astro";
import Logo from "../components/logo.astro";
import { Icon } from "astro-icon";
import Link from "../components/link.astro";
---

<Container>
  <header class="flex flex-row items-center justify-between my-5">
    <div class="logo">
      <Logo />
    </div>
    <div class="desknav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/about">Services</a>
      <a href="/about">Price</a>
      <a href="/about">Contact</a>
      <a href="/design-elements">Design</a>
    </div>
    <div class="flex flex-row items-center justify-between">
      <Link
        href="/login"
        style="outline"
        size="md"
        class="mr-2 flex gap-1 items-center justify-center"
      >
        <Icon class="text-black w-5 h-5" name="ic:baseline-person-outline" /> Login
      </Link>
      <Link
        href="/signup"
        style="primary"
        size="md"
        class="flex gap-1 items-center justify-center"
      >
        <Icon class="text-white w-4 h-4" name="ic:outline-https" />Sign Up
      </Link>
    </div>
  </header>
</Container>

<style>
  .desknav a {
    @apply text-black text-base font-medium mr-1 ml-1 pl-2 pr-2 hover:underline hover:text-slate-500;
  }
</style>
